* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p{
  font-size: 0.8em;
  line-height: 1.5em;
  color: white;
}

body{
  background-image: url("../imgs/1.jpg");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}



/* Home section */
.home-bg {
  height: 100vh;
  position: relative;
}

.nav {
  text-align: right;
  padding: 1%;
}

.nav a {
  text-decoration: none;
  color: #434141;
  margin: 1%;
}

.nav a:hover{
  animation: nav-hover;
  animation-duration: 3s;
}

.home-about {
  background-color: #171e1e61;
  width: 80%;
  height: 55%;
  margin: 0 auto;
  margin-top: 7.5%;
  text-align: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: 0 40px 0 40px;
}

.home-avatar {
  background-image: url("../imgs/cap-shwr.jpg");
  background-position: center;
  background-size: cover;
  animation: slide-avatar;
  animation-duration: 1s;
  width: 30%;
  height: 25.5%;
  float: right;
  position: absolute;
  bottom: -10.5%;
  right: -10.5%;
  border-radius: 20px;
}

.avatar-border{
  border: 1.5px solid #2196F3;
  width: 99%;
  height: 99%;
  border-radius: 20px;
  background-color: transparent;
}

.home-headings {
  color: white;
  margin: 7.5% 0 0 0;
  display: inline-block;
  font-size: 0.55em;
  border-bottom: 5px solid #f8ad5e;
}
.home-headings h1{
  text-align: center;
  display: block;
  margin: 0 auto;
}

.home-headings span {
  color: #f8ad5e;
}

.home-info {
  width: 90%;
  max-height: 80%;
  margin: 7.5% 0 0 0;
  display: inline-block;
}

.home-info p {
  text-align: justify;
  color: white;
}

#homeNav {
  font-weight: 600;
  color: #094553;
}
/* End of the Home section */



/* Beginning of the Resume section */
.Resume{
  width: 90%;
  background-color: transparent;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 7.5%;
  margin-bottom: 2.5%;
  display: none;
  position: relative;
  flex-direction: column;
}
.Resume h2{
  display: inline-block;
  font-size: 1em;
  border-bottom: 2px solid #f8ad5e;
}
.Resume h3{
  margin: 1% 0 0 0;
  text-align: left;
  font-size: 0.7em;
}
.Resume p{
  margin: 1% 0 2% 2%;
  text-align: left;
}
.button{
  text-align: center;
  height: fit-content;
}
.Resume a{
  border: 2px solid #171e1e61;
  display: inline-block;
  margin: 0 auto;
  padding: 0.55%;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.college, .high-school, .work-experience{
  background-color: #171e1e61;
  padding: 2.5%;
  margin-top: 0;
  border-radius: 10px;
  margin-bottom: 2.5%;
}
.college{
  animation: slide-side-r;
  animation-duration: 3s;
}
.high-school{
  animation: slide-side-l;
  animation-duration: 2.5s;
}
.work-experience{
  animation: slide-side-r;
  animation-duration: 2s;
}
/* End of the Resume section */



/* Beginning of the Projects section */
.Projects {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-top: 7.5%;
  position: relative;
  text-align: center;
  display: none;
  flex-direction: column;
  align-content: space-around;
}

.Projects h2{
  font-size: 1em;
  display: inline-block;
  margin: 5% 0 2.5% 0;
  color: white;
  border-bottom: 3px solid #f8ad5e;
}

.Projects p{
  text-align: justify;
  font-size: 0.8em;
  width: 95%;
  margin: 0 auto;
}

.Projects a{
  width: 100%;
  height: 30%;
  text-decoration: none;
  color: white;
  margin-bottom: 2.5%;
}

.proj1{
  background-color: #171e1e61;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  animation: slide-big;
  animation-duration: 3s;
}

.proj2{
  background-color: #171e1e61;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  animation: slide-big;
  animation-duration: 2.5s;
}

.proj3{
  background-color: #171e1e61;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  animation: slide-big;
  animation-duration: 2s;
}

.proj4{
  background-color: #171e1e61;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  animation: slide-big;
  animation-duration: 1.5s;
}
/* End of the Projects section */



/* The Contact section */
.Contact{
  width: 90%;
  height: 80%;
  display: none;
  margin: 0 auto;
  margin-top: 7.5%;
}
.platform{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  margin-bottom: 2.5%;
  background-color: #171e1e61;
}

.icon{
  width: 20.5%;
  height: 77.5%;
  margin-top: 1%;
  text-align: center;
}

.Contact p{
  height: fit-content;
  margin: 2.5%;
}

.Mail{
  animation: slide-side-r;
  animation-duration: 2s;
}

.LinkedIn{
  animation: slide-side-l;
  animation-duration: 2s;
}

.GitHub{
  animation: slide-side-r;
  animation-duration: 1.5s;
}
/* End of Contact section */



/* Animations */
@keyframes nav-hover {
  0%{
    color: white;
  }

  100%{
    color: #094553;
  }
}

@keyframes slide-avatar {
  0%{
    right: -15%;
  }
  100%{
    right: -10.5%;
  }
}

@keyframes slide-big{
  0%{
    position: relative;
    top: -50%;
  }
  100%{
    top: 50%;
  }
}
@keyframes slide-side-l{
  0%{
    position: relative;
    left: -20%;
  }
  100%{
    left: 20%;
  }
}
@keyframes slide-side-r{
  0%{
    position: relative;
    right: -20%;
  }
  100%{
    right: 20%;
  }
}
/* End of Animations */


/* Optimizing for tablets */
@media screen and (min-width: 768px) {

  /* Home section */
  .nav{
    font-size: 1.5em;
  }
  .home-headings {
    margin: 7.5% 0 0 0;
    font-size: 1em;
  }
  p {
    font-size: 1.25em;
  }
  .home-about{
    margin-top: 5%;
    height: 70%;
  }
  .home-avatar{
    width: 30%;
    height: 35%;
  }
  /* End of home section */

  /* Resume section */
  .Resume{
    margin-top: 5%;
    margin-bottom: 7.5%;
    width: 90%;
  }
  .Resume h2{
    font-size: 1.5em;
    border-bottom: 4px solid #f8ad5e;
  }
  .Resume h3{
    margin: 1% 0 0 0;
    font-size: 1.25em;
  }
  .Resume p{
    font-size: 1em;
    margin: 1% 0 1% 1%;
  }
  .Resume a{
    background-color: #2196F3;
    position: absolute;
    bottom: -7.5%;
    left: 44.5%;
  }
  .college, .high-school, .work-experience{
    margin: 1%
  }
  .college{
    width: 43%;
    height: 100%;
    animation: slide-side-l;
    animation-duration: 3s;
  }
  .high-school{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 43%;
    height: 42.5%;
    animation: none;
  }
  .work-experience{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 43%;
    height: 42.5%;
    animation: none;
  }
  /* End of Resume section */

  /* Projects section */
  .Projects{
    margin-top: 5%;
    width: 80%;
  }
  .Projects h2{
    font-size: 1.5em;
    margin: 2.5% 0 2.5% 0;
    border-bottom: 4px solid #f8ad5e;
  }

  .Projects p{
    font-size: 1em;
  }
  /* End of Projects section */

  /* Contact section */
  .Contact{
    margin-top: 5%;
  }
  .platform{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2.5%;
  }
  .icon{
    width: 12.5%;
  }
  /* End of Contact section */

}
/* End of tablet optimization */


/* Optimizing for desktops */
@media screen and (min-width: 1000px) {

  /* Home section */
  .home-headings {
    margin: 7.5% 0 0 0;
    font-size: 1.5em;
  }
  p {
    font-size: 1.5em;
  }
  .home-about {
    width: 70%;
    height: 70%;
    margin-top: 5%;
  } 
  .home-avatar {
    width: 22.5%;
    height: 35%;
    top: -12.5%;
    right: -10.5%;
  }
  .home-info p {
    font-size: 1.25em;
  }
  /* End of home section */

  /* Resume section */
.Resume{
  width: 90%;
  height: 80%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.Resume h2{
  font-size: 1.5em;
  border-bottom: 4px solid #f8ad5e;
}
.Resume h3{
  margin: 1% 0 0 0;
  text-align: left;
  font-size: 1.25em;
}
.Resume p{
  margin: 1% 0 1% 1%;
  font-size: 1em;
}
.Resume a{
  left: 46%;
}
.high-school, .work-experience{
  height: auto;
}

  /* End of Resume section */

  /* Projects section */
  .Projects{
    margin-top: 2.5%;
    height: 100%;
  }
  .Projects h2{
    font-size: 1.5em;
    margin: 2.5% 0 2.5% 0;
    border-bottom: 4px solid #f8ad5e;
  }
  .proj1, .proj2, .proj3, .proj4{
    width: 80%;
    margin: 0 auto;
  }
  .Projects p{
    font-size: 1em;
  }
  /* End of Projects section */

  /* Contact section */
  .Contact{
    margin-top: 2.5%;
  }

  .platform{
    width: 60%;
    height: 20%;
    margin: 0 auto;
    margin-bottom: 1.5%;
  }

  .icon{
    width: 12.5%;
    height: 100%;
  }

  .Contact p{
    height: fit-content;
    margin: 2.5%;
    font-size: 1.25em;
  }
  /* End of Contact section */

}
/* End of desktop optimization */