*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    text-align: center;
    color: white;
}

body{
    height: 100vh;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #ff6738 0%, #ff0844 100%);
}

p{
    margin: 2%;
    text-align: left;
}

.info div:first-child{
    border-top: 2px solid white;
    border-left: 2px solid white;
}

.info div:last-child{
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.heading{
    position: absolute;
    top: 10%;
    width: 80%;
    border-bottom: 7px solid white;
}

.info{
    margin-top: 10%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Desktop optimization */
@media screen and (min-width: 1000px){
    body{
        font-size: 1.75em;
    }

    .heading{
        top: 5%;
    }
}
